header{

	background-color: black;
	color: white;
}

.parallax {
  -webkit-perspective : 300px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
}

.parallax__group {
	position: relative;
	height: 100vh;
	-webkit-transform-style : preserve-3d;
	transform-style : preserve-3d;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin-x: 100%;
}
.parallax__layer--base {
  transform: translateZ(0);
  z-index: 2;
}
.parallax__layer--back {
  transform: translateZ(-1px); scale(2)
  z-index: 1;
}

#groupe2 {
} 

.repair{

	overflow: hidden;
}

.bg-dark {
   background-color: #111!important;
   flex-direction: column;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
    font-family: "raleway", sans-serif;
}
.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
	color:orange;
}

.navbar-dark .navbar-nav .nav-link {
color:white;

}

.navbar-expand-md 
.navbar-collapse{

	margin: 0px 10px;
}

#logo{
	height: 60px;
	background-color: black
	color: white;
	float: left;
}


#banner{

	width: 100%;

}

.education1{
	background-color: black
	color: white;


}


#voyage {
 background-color: #999;
 background-image: url(img/voyage.jpeg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 margin-bottom: 4em;
 text-align: center;
 height: 500px;
background-size: cover;

}

img{
	z-index: 3;
}

ul{
	list-style-type: none;
	margin: 300;
	padding: 200;
	overflow: fixed;
	color:white;
	margin-top: -5px;
	text-align: left;

}


#quisuisje {
	font-family: raleway, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-align: center;

}

#voyages{

	background-attachment: fixed;
	width: 100%
}

#experiences{

	font-family: raleway, sans-serif;
	font-size: 60px;
	font-weight: bold;
	border-width: 1px;
	border: solid white;
	margin: 50px 70px;
}

li{
	color: black;
}

.logoexp{
 width: 20%;
 margin-left: 200px;

}

.logoskills{

	width: 20%;
} 

.education{

	color: black;
	font-family: ‘raleway, sans-serif;
}

.education1{

	margin-left: 200px;
}

.education2{

	color: black;
	font-family: raleway, sans-serif;
	margin-left: 100px;
}

span{
	color: #AEE0C5;
	font-size : 30px;
}

#quisuisjeimage{
	width: 60%;
	border-radius: 50%;
	border: solid orange 1px;
	margin-left: 100px;
	margin-top: 30px;
}

hr {
 border-top: 1px solid grey;
 border-bottom: none;
 margin-top: 3em;
 margin-bottom: 3em;
}


h3{
	margin-left: 70px;
	color: orange;
}